@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
}

@layer components {

}

.font-primary{
	font-family: 'Phudu', cursive;
}

.font-secondary{
	font-family: 'Roboto Slab', serif;
}

video::-webkit-media-controls {
  display:none !important;
}


@keyframes menu-phone-animation{
  0%{
  	opacity: 0;
  }

  100%{
  	opacity: 100%;
  }
}

.menu-phone{
	width: 100%;
	height: 95vh;
	display: none;
}

.menu-phone-animation{
	display: flex !important;
	animation: menu-phone-animation 1s forwards;
}

.menu-phone-animation-end{
	display: flex !important;
	animation: menu-phone-animation 1s forwards reverse;
}

.swiper {
  width: 600px;
  height: 300px;
}

.masonry-container {
}
.masonry-item {
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}
.masonry-item img {
	display:block;
	width: 100%;
	border-radius: 20px;
}

.bg-hero{
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,122,234,0) 100%)
}

.round-list{
	width: 8px;
	height: 8px;
	background: red;
	margin: auto 10px auto 5px;
	border-radius: 100%;
	position: relative;
}

.round-list:after{
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	border: 2px solid black;
	border-radius: 100%;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-black-red{
	background: rgb(232,232,232);
background: linear-gradient(27deg, rgba(232,232,232,1) 0%, rgba(93,93,93,1) 32%, rgba(0,0,0,1) 64%);
}

#blog_detail h1{
	margin: 15px 0px;
	font-size: 20px;
	font-weight: bold;
}

#blog_detail h1,h2,h3,h4{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.9px;
}

#blog_detail h2{
	margin: 15px 0px;
	font-size: 18px;
	font-weight: 500;
}

#blog_detail p{
	margin: 5px 0px;
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}


.tentang-kami-markdown > p{
	text-align: justify;
}
@media (min-width: 768px) {
	

	/* Firefox */
	* {
	  scrollbar-width: thin;
	  scrollbar-color: gray white;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
	  width: 15px;
	}

	*::-webkit-scrollbar-track {
	  background: white;
	  
	}

	*::-webkit-scrollbar-thumb {
	  background-color: gray;
	  border: 3px solid white;
	}
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
	#blog_detail h1{
		margin: 15px 0px;
		font-size: 30px;
		font-weight: bold;
	}

	#blog_detail h2{
		margin: 15px 0px;
		font-size: 20px;
		font-weight: 500;
	}

	#blog_detail p{
		margin: 5px 0px;
		font-size: 15px;
		text-align: left;
		font-family: 'Open Sans', sans-serif;
	}

}

@media (min-width: 1280px) {

}